* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Navfont: "Menlo", "Consolas", "Monaco", "Liberation Mono", "Lucida Console",
    monospace;
}

:root {
  --Background: #ffffff;
  --Primarycolor: #1976d2;
  --Secondarycolor: #ced0ce;
  --Accentcolor: #e6e8e6;
  --Textcolor: #191919;
  --Secondarytextcolor: #757575;
  --Anchorfilter: opacity(40%);
  --Socialbar0: opacity(50%);
  --Socialcard: opacity(40%);
  --Boxshadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.15);
}

@media (prefers-color-scheme: dark) {
  :root {
    --Background: #121212;
    --Primarycolor: #1e88e5;
    --Secondarycolor: #64b5f6;
    --Accentcolor: #121212;
    --Textcolor: #e0e0e0;
    --Secondarytextcolor: #b0b0b0;
    --Anchorfilter: brightness(10%);
    --Socialbar0: opacity(20%);
    --Socialcard: opacity(40%);
    --Boxshadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.5),
      -6px -6px 10px -1px rgba(0, 0, 0, 0.1);
  }
}

html {
  font-family: var(--Navfont);
}

/*|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| Smallest Size*/

@media screen and (max-width: 780px) {
  :root {
    --Universalwidth: 529.5px;
  }

  html {
    background-color: var(--Background);
  }

  /*|||| Header*/

  nav {
    width: 100%;
    font-size: 1.2rem;
    position: fixed;
    z-index: 100;
  }

  /*Main Navigation Bar*/

  .navulcontainer {
    width: 100%;
    background-color: var(--Primarycolor);
    display: flex;
    justify-content: center;
  }

  .navulcontainercontainer {
    width: 100%;
    height: clamp(80px, 2vw, 110px);
  }

  nav ul {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 100%;
    list-style: none;
    height: clamp(80px, 2vw, 110px);
  }

  .navulanch {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  nav .Navwords {
    color: var(--Textcolor);

    display: flex;
    justify-content: center;
    align-items: center;
    height: 0;
    overflow: hidden;
  }

  nav .NavwordsNavname {
    font-weight: bolder;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 0;
    overflow: hidden;
  }

  nav .Navanchors {
    color: var(--Textcolor);
    font-size: 1.2rem;
    text-decoration: none;
  }

  nav .Navanchors:hover,
  .Navanchors:focus {
    filter: var(--Anchorfilter);
  }

  /*Social Navigation Bar*/

  nav ol {
    animation: open1 0.5s ease-in-out forwards;
    background-color: var(--Textcolor);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    list-style: none;
    gap: 2rem;
    padding-top: 6px;
    display: none;
  }

  nav ol img {
    height: 20px;
    width: 20px;
  }

  nav:hover ol,
  nav:focus-within ol {
    display: flex;
  }

  nav ol a:hover,
  a:focus {
    filter: var(--Socialbar0);
  }

  @keyframes open1 {
    0% {
      transform: scaleY(0);
    }
    80% {
      transform: scaleY(1.2);
    }
    100% {
      transform: scaleY(1);
    }
  }
  /*Contact Card*/

  .contact {
    padding-top: 150px;
    display: flex;
    justify-content: center;
  }

  .contactcontainer {
    width: var(--Universalwidth);
    border: 2px solid var(--Secondarycolor);
    border-radius: 12px;
    box-shadow: var(--Boxshadow);
    padding: 20px;
  }

  .contactheader {
    color: var(--Textcolor);
  }

  .contactdescription {
    color: var(--Secondarytextcolor);
    font-size: 0.8rem;
    margin-bottom: 20px;
  }

  .contactcontent {
    list-style: none;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    margin-bottom: 10px;
  }

  .contactcontent li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
  }

  .contactcontent a {
    color: var(--Textcolor);
    text-decoration: none;
    line-height: 25px;
  }

  .contactcontent a:hover,
  a:focus {
    filter: var(--Socialcard);
  }

  .contactimgcontainer {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }

  .contactcontent img {
    width: 20px;
    height: 20px;
  }

  .contactcontent h3 {
    display: flex;
    justify-content: center;
  }

  .contactmini {
    color: var(--Secondarytextcolor);
  }

  /*Footer*/

  .footer {
    margin-top: 150px;
    display: flex;
    justify-content: center;
    height: 100px;
    font-size: 0.6rem;
  }

  .footercontainer {
    width: var(--Universalwidth);
    display: flex;
    justify-content: space-between;
  }

  .footercontentcontainer {
    line-height: 1.5rem;
  }

  .footercontentcontainer h4 {
    color: var(--Secondarytextcolor);
  }

  .footercontentcontainer h4 a {
    text-decoration: none;
    color: var(--Textcolor);
  }

  .attribution {
    display: flex;
    list-style: none;
    color: var(--Secondarytextcolor);
    font-size: clamp(0.4rem, 1.75vw, 0.6rem);
  }

  .attribution li a {
    text-decoration: none;
    color: var(--Secondarytextcolor);
  }

  .footericons {
    padding-top: 10px;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 6px;
  }

  .footericons img {
    height: 20px;
    width: 20px;
  }

  .attribution a:hover,
  a:focus {
    filter: var(--Socialcard);
  }

  .footericons a:hover,
  a:focus {
    filter: var(--Socialcard);
  }
}

/*|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| Medium Size*/

@media screen and (min-width: 780px) {
  :root {
    --Universalwidth: 529.5px;
  }

  html {
    background-color: var(--Background);
  }

  /*|||| Header*/

  nav {
    width: 100%;
    font-size: 1.2rem;
    position: fixed;
    z-index: 100;
  }

  /*Main Navigation Bar*/

  .navulcontainer {
    width: 100%;
    background-color: var(--Primarycolor);
    display: flex;
    justify-content: center;
  }

  .navulcontainercontainer {
    width: 100%;
    height: clamp(80px, 2vw, 110px);
  }

  nav ul {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 100%;
    list-style: none;
    height: clamp(80px, 2vw, 110px);
  }

  .navulanch {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  nav .Navwords {
    color: var(--Textcolor);

    display: flex;
    justify-content: center;
    align-items: center;
  }

  nav .NavwordsNavname {
    font-weight: bolder;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--Textcolor);
  }

  nav .Navanchors {
    color: var(--Textcolor);
    font-size: 1.2rem;
    text-decoration: none;
  }

  nav .Navanchors:hover,
  .Navanchors:focus {
    filter: var(--Anchorfilter);
  }

  /*Social Navigation Bar*/

  nav ol {
    animation: open1 0.5s ease-in-out forwards;
    background-color: var(--Textcolor);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    list-style: none;
    gap: 2rem;
    padding-top: 6px;
    display: none;
  }

  nav ol img {
    width: 24px;
    height: 24px;
  }

  nav:hover ol,
  nav:focus-within ol {
    display: flex;
  }

  nav ol a:hover,
  a:focus {
    filter: var(--Socialbar0);
  }

  @keyframes open1 {
    0% {
      transform: scaleY(0);
    }
    80% {
      transform: scaleY(1.2);
    }
    100% {
      transform: scaleY(1);
    }
  }

  /*Footer*/

  .footer {
    margin-top: 150px;
    display: flex;
    justify-content: center;
    height: 100px;
    font-size: 0.6rem;
  }

  .footercontainer {
    width: var(--Universalwidth);
    display: flex;
    justify-content: space-between;
  }

  .footercontentcontainer {
    line-height: 1.5rem;
    font-size: 0.6rem;
  }

  .footercontentcontainer h4 {
    color: var(--Secondarytextcolor);
  }

  .footercontentcontainer h4 a {
    text-decoration: none;
    color: var(--Textcolor);
  }

  .attribution {
    display: flex;
    list-style: none;
    color: var(--Secondarytextcolor);
    font-size: 0.6rem;
  }

  .attribution li a {
    text-decoration: none;
    color: var(--Secondarytextcolor);
  }

  .footericons {
    padding-top: 10px;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 6px;
  }

  .footericons img {
    height: 20px;
    width: 20px;
  }

  .attribution a:hover,
  a:focus {
    filter: var(--Socialcard);
  }

  .footericons a:hover,
  a:focus {
    filter: var(--Socialcard);
  }
}

/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| Biggest Size*/

@media screen and (min-width: 1080px) {
  :root {
    --Universalwidth: 1059px;
  }

  html {
    background-color: var(--Background);
  }

  /*|||| Header*/

  nav {
    width: 100%;
    font-size: 1.4rem;
    position: fixed;
    z-index: 100;
  }

  /*Main Navigation Bar*/

  .navulcontainer {
    width: 100%;
    background-color: var(--Primarycolor);
    display: flex;
    justify-content: center;
    color: var(--Textcolor);
  }

  .navulcontainercontainer {
    width: 100%;
    height: clamp(80px, 2vw, 110px);
  }

  nav ul {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    justify-content: center;
    align-items: center;
    list-style: none;
    height: clamp(80px, 2vw, 110px);
  }

  nav .Navwords {
    color: var(--Textcolor);
  }

  nav .NavwordsNavname {
    font-size: 1.4rem;
  }

  nav .Navname {
    font-weight: bolder;
  }

  .navulanch {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
  }

  nav .Navanchors {
    color: var(--Textcolor);
    font-size: 1.4rem;
    text-decoration: none;
  }

  nav .Navanchors:hover,
  .Navanchors:focus {
    filter: var(--Anchorfilter);
  }

  /*Social Navigation Bar*/

  nav ol {
    animation: open1 0.5s ease-in-out forwards;
    background-color: var(--Textcolor);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    list-style: none;
    gap: 2rem;
    padding-top: 6px;
    display: none;
  }

  nav ol img {
    height: 32px;
    width: 32px;
  }

  nav:hover ol,
  nav:focus-within ol {
    display: flex;
  }

  nav ol a:hover,
  a:focus {
    filter: var(--Socialbar0);
  }

  @keyframes open1 {
    0% {
      transform: scaleY(0);
    }
    80% {
      transform: scaleY(1.2);
    }
    100% {
      transform: scaleY(1);
    }
  }
  /*Footer*/

  .footer {
    margin-top: 150px;
    display: flex;
    justify-content: center;
    height: 100px;
  }

  .footercontainer {
    width: var(--Universalwidth);
    display: flex;
    justify-content: space-between;
  }

  .footercontentcontainer {
    line-height: 1.5rem;
    font-size: 1rem;
  }

  .footercontentcontainer h4 {
    color: var(--Secondarytextcolor);
  }

  .footercontentcontainer h4 a {
    text-decoration: none;
    color: var(--Textcolor);
  }

  .attribution {
    display: flex;
    list-style: none;
    color: var(--Secondarytextcolor);
    font-size: 1rem;
  }

  .attribution li a {
    text-decoration: none;
    color: var(--Secondarytextcolor);
  }

  .footericons {
    padding-top: 10px;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 6px;
  }

  .footericons img {
    height: 24px;
    width: 24px;
  }

  .attribution a:hover,
  a:focus {
    filter: var(--Socialcard);
  }

  .footericons a:hover,
  a:focus {
    filter: var(--Socialcard);
  }
}
